
.game-intro {
display:flex;
flex-direction: column;

}

.game-intro h1 {
    margin: 40px auto 20px auto; 
    font-size: 60px;

}


.game-intro h2 {
    margin: 40px auto 20px auto; 
    font-size: 40px;
}


.game-intro ul {
    margin: 0 auto 20px auto; 

} 

.game-intro li {
    font-size: 20px;
}

button {
    margin: 0 auto;
}

.game-board {
    margin: 0 auto;
    display: flex;
}
.game-board canvas {
    margin: 0 auto;
}

body button {
    font-size: 30px;
    width: 250px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
